[submodule "firmware/Middlewares/Third_Party/lvgl"]
	path = firmware/Middlewares/Third_Party/lvgl
	url = https://github.com/lvgl/lvgl.git
[submodule "webapp/modules/webdfu"]
	path = webapp/modules/webdfu
	url = https://github.com/devanlai/webdfu.git
